.item-detail {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.item-detail__picture {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 50%;
}

.item-detail__picture-container {
    height: 80%;
}

.item-detail__picture-container img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.item-detail__info {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;    
}

.item-detail__info-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
    padding: 10%;
}

.item-detail__title {
    font-size: 1.6rem;
}

.item-detail__description {
    font-size: 1.1rem;
}

.item-detail__price {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 8%;
    justify-content: center;
    width: 40%;
}

.item-detail__price span {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.item-detail__counter {
    align-items: center;
    display: flex;
    height: 40%;
    justify-content: center;
    width: 100%;
}

.item-detail__to-cart {
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;    
    padding: 5px 20px;
    text-decoration: none;
}

.item-detail__controlls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-detail__controlls button {
    height: 40px;
    margin: 4px;
    width: 80px;
}