.navbar {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    height: 75px;
    margin-left: 5%;
    padding: 3px;
    width: 150px;
}

.navbar__logo:hover {
    transform: scale(1.05);
}

.navbar__logo img {
    height: 100%;
    width: 100%;
}

.navbar__links {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar__link {
    padding: 10px;
}

.navbar__link a {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar__link a:hover {
    color: red;
}

.navbar__link--active {
    color: red;
}

.navbar__link--disabled {
    color: white;
}