.not-found {
    align-items: center;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: center;    
}

.not-found__title {
    font-size: 2rem;
    margin: 30px 0;
}

.not-found__button {
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px;
}

.not-found__button:hover {
    background-color: red;
    cursor: pointer;
    transform: scale(1.05);
}
